html, body, object {
  width: 100%;
  height: 100%;
  margin: 0;
}

.all {
  width: 100%;
  height: auto;
}

#all {
  width: 100%;
  height: 100%;
}

.toHide {
  visibility: hidden;
}

.circle_content {
  display: none;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.circle_content p.title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45%;
  left: 2.5%;
  text-align: center;
  transform-origin: 50% 50%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Arial';
  font-weight: 400;
  color: white;
  opacity: 0.3;
  font-size: 62px;
}

.circle_content p.content {
  position: absolute;
  transform-origin: 50% 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 45%;
  left: 50%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Arial';
  font-weight: 200;
  color: white;
  font-size: 22px;
}

svg, object {
  overflow: visible;
  width: 100%;
  height: auto;
}

.element {
  cursor: pointer;
}

.text {
  pointer-events: none;
}
